.header {
    background-color: #5fc0cd;
    width: 100%;
    padding-top: 0.7rem;
    height: 1.25rem;
    position:fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    text-align:center ;
    color:white;
    font-size: 18px;;
    line-height: 100%;
    padding-bottom: 0.7rem;
}
.close{
    width:15%;
    padding-top:1%;
    position:fixed;
    top:0.25rem;
    left:0%;
    color:white;
    text-align:center;
    font-size: 17px;
    cursor:pointer;
}
.denglu{
    width:15%;
    padding-top: 0.1rem;
    position:absolute;
    top:0%;
    left:41.5%;
    color:white;
    text-align:center;
    font-size: 1rem;
}
.zhuce{
    width:15%;
    padding-top:1%;
    position:fixed;
    top:0%;
    right:0%;
    color:white;
    text-align:center;
    font-size:17px;
    cursor:pointer;
}
.numberbackground{
    width:100%;
    background-color:white;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-repeat:no-repeat;
}
.background{
    width:100%;
    padding-top:0%;
    background-color:gainsboro;
    position: absolute;
    left:0;
    top:0;
}
.input{
    background-image: url(/../SignIn/smart.png);
    background-repeat: no-repeat;
    border:none;
    outline:none;
    font-size: 1.2rem;
    padding-left: 6rem;
}
.input1{
    background-image: url(/../SignIn/lock.png);
    background-repeat: no-repeat;
    border:none;
    outline:none;
    font-size: 1.2rem;
    padding-left: 6rem;
}

.password{
    width:100%;
    background-color:white;
    padding:0.5rem 0px 0.5rem 0px;
    background-repeat:no-repeat;
    vertical-align: middle;
    background-position: center center;
    margin-top: 0.5rem;
}


.button{
    background-color:#5fc0cd;
    width:100%;
    padding-top:0.5rem;
    margin-top: 0.5rem;
    font-size:2rem;
    color:white;
    cursor: pointer;
    border:none;
    outline:none;
}
.button1{
    background-color: inherit;
    width:8rem;
    padding-top:0.5rem;
    float: right;
    font-size:0.8rem;
    color:#5fc0cd;
    cursor:pointer;
    border:none;
    outline:none;
    text-decoration:underline;
}
.btz{
    float:left;
    cursor:pointer;
    border:none;
    outline:none;
    background-color:#5fc0cd;
    color:white;
}
.btc{
    float:right;
    cursor:pointer;
    border:none;
    outline:none;
    background-color:#5fc0cd;
    color:white;
}
body{
    overflow: hidden;
}
.main{
    width: 100%;
    padding-top: 500%;
    background-color: gainsboro;
    position: absolute;
    left:0;
    top:2.6rem;
    right:0;
    bottom: 0;
    overflow-x: hidden;
}